[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.StringListManager
Exec=/usr/bin/ru.template.StringListManager
Name=StringListManager
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=StringListManager
ExecDBus=/usr/bin/ru.template.StringListManager
